<h5>Company List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">name</td>
			<td style="text-align:center">establishedOn</td>
			<td style="text-align:center">revenue</td>
			<td style="text-align:center">Type</td>
			<td style="text-align:center">Industry</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let company of companys" style="text-align:center">
			<td style="vertical-align:middle">{{ company.name }}</td>
			<td style="vertical-align:middle">{{ company.establishedOn }}</td>
			<td style="vertical-align:middle">{{ company.revenue }}</td>
			<td style="vertical-align:middle">{{ company.Type }}</td>
			<td style="vertical-align:middle">{{ company.Industry }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editCompany', company._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteCompany(company._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
