<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="company.name" [(ngModel)]="company.name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>establishedOn</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="establishedOn" name="company.establishedOn" [(ngModel)]="company.establishedOn">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>revenue</mat-label>
		    <input matInput ngDefaultControl placeholder="revenue" name="company.revenue" [(ngModel)]="company.revenue">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Employees</mat-label>
			<mat-select placeholder="Employees" multiple  [compareWith]="compareFn"  [(ngModel)]="company.Employees">
		    	<mat-option name="company.Employees" ngDefaultControl  
		    		*ngFor="let employee of employees"		    		 
		    		[value]="employee._id">
		      		{{employee.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Departments</mat-label>
			<mat-select placeholder="Departments" multiple  [compareWith]="compareFn"  [(ngModel)]="company.Departments">
		    	<mat-option name="company.Departments" ngDefaultControl  
		    		*ngFor="let department of departments"		    		 
		    		[value]="department._id">
		      		{{department.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Divisions</mat-label>
			<mat-select placeholder="Divisions" multiple  [compareWith]="compareFn"  [(ngModel)]="company.Divisions">
		    	<mat-option name="company.Divisions" ngDefaultControl  
		    		*ngFor="let division of divisions"		    		 
		    		[value]="division._id">
		      		{{division.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>BoardMembers</mat-label>
			<mat-select placeholder="BoardMembers" multiple  [compareWith]="compareFn"  [(ngModel)]="company.BoardMembers">
		    	<mat-option name="company.BoardMembers" ngDefaultControl  
		    		*ngFor="let employee of employees"		    		 
		    		[value]="employee._id">
		      		{{employee.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Address</mat-label>
			<mat-select placeholder="Address"   [compareWith]="compareFn"  [(ngModel)]="company.Address">
		    	<mat-option name="company.Address" ngDefaultControl  
		    		*ngFor="let address of addresss"		    		 
		    		[value]="address._id">
		      		{{address.street}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>Type</mat-label>
			<mat-select placeholder="Type" name="company.Type" [(ngModel)]="company.Type">
		    	<mat-option ngDefaultControl *ngFor="let CompanyType of CompanyTypes" [value]="CompanyType">
		      		{{CompanyType}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>Industry</mat-label>
			<mat-select placeholder="Industry" name="company.Industry" [(ngModel)]="company.Industry">
		    	<mat-option ngDefaultControl *ngFor="let Industry of Industrys" [value]="Industry">
		      		{{Industry}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                            <button 
		    (click)="updateCompany(company.name, company.establishedOn, company.revenue, company.Employees, company.Departments, company.Divisions, company.BoardMembers, company.Address, company.Type, company.Industry)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
